{% extends "layout.html" %}
{% block body %}

<ul class="nav nav-tabs nav-tabs-underline flex-lg-row" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab-underline" data-toggle="tab" href="#home-underline" role="tab" aria-controls="home-underline" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab-underline" data-toggle="tab" href="#profile-underline" role="tab" aria-controls="profile-underline" aria-selected="false">Science Reserch</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab-underline" data-toggle="tab" href="#contact-underline" role="tab" aria-controls="contact-underline" aria-selected="false">Portfolio</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-underline" role="tabpanel" aria-labelledby="home-tab-underline">
        <ul class="list-group">
            <li class="list-group-item">Ry-Ku</li>
            <li class="list-group-item">Software Engineer</li>
            <li class="list-group-item">広告運用システム開発。CV率の高いユーザーに広告を配信するためのシステム。各媒体（Google, Twitter）APIの操作や、高CV率ユーザー抽出のための行動ログデータの整形、MLOpsが主な業務内容。</li>
            <li class="list-group-item">長所・得意</li>
            <li class="list-group-item">短所・不得意</li>
          </ul>
    </div>
    <div class="tab-pane fade" id="profile-underline" role="tabpanel" aria-labelledby="profile-tab-underline">
        <ul class="list-group">
            <li class="list-group-item">千葉大学 基幹工学専攻 電気電子工学コース 修士課程卒</li>
            <li class="list-group-item">修士論文「スパイキングニューラルネットワークにおける時系列データ学習のための誤差逆伝播法の改良」</li>
            <li class="list-group-item">学会発表・</li>
          </ul>
    </div>
    <div class="tab-pane fade" id="contact-underline" role="tabpanel" aria-labelledby="contact-tab-underline">
        <li class="list-group-item">This Application!</li>
        <li class="list-group-item">Github</li>
        <li class="list-group-item">autopurchaser</li>
    </div>
</div>

{% endblock %}