{% extends "layout.html" %}
{% block body %}

<div class="card" style="max-width: 500px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="static/images/buranko_boy_smile.png" class="card-img rounded-0" alt="image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ url_for('webpage.display_user_list') }}" class="stretched-link">User List</a></h5>
                <p class="card-text">
                    list up for sing-up user
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}